
<h1><span class="glyphicon glyphicon-ok" ></span> My Tasks</h1>

<ul class="list-unstyled">
  <% @tasks.each do |task| %>
    <li class="style">
      <%= form_for(task, remote: true, format: :json) do |f| %>
        <%= f.check_box :completed, onchange:'complete()'%>
        <%= link_to task.title, task, class: 'nonstyle '%>
        <span class="hiden">
        <%= link_to '', task_path(task), class: 'glyphicon glyphicon-eye-open'%>
        <%= link_to '', edit_task_path(task), class: 'glyphicon glyphicon-pencil' %>
        <%= link_to '', task_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash' %>
        </span>
    </li>
     <% end %>
  <% end %>
</ul>

<br>


 <%= link_to 'Mark as Completed', new_task_path, class: 'btn btn-success' %> 
 <%= link_to 'New Task', new_task_path, class: 'btn btn-success pull-right' %>    