<!DOCTYPE html>
<html>
<head>
  <title>AppTodo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Yesteryear' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
    <% if user_signed_in? %>
  <%= link_to('Log out', destroy_user_session_path, :method => :delete) %>        
<% else %>
  <%= link_to('Log in', new_user_session_path)  %>  
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="well">

     <!-- <%= flash_messages %>-->


         <%= yield %>
      </div><!--row-->
    </div>
  </div><!--row-->
</div><!--container-->

</body>
</html>
